<!DOCTYPE html>
<html lang="en xmlns=" http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"">

<head>
	<meta charset=" utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kitchen Bath Design">

<title>SJKB Design</title>

<link href="/css/classic.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
    
</script>

<style>
    .hidden {
        display: none;
    }
</style>
</head>

<body>
    <div class="wrapper">
        <div th:include="fragments/sidecar::sidenav" th:remove="tag"></div>
        <div class="main">

            <div th:include="fragments/sidecar::topnav" th:remove="tag"></div>
            <main class="content">
                <div class="container-fluid">
                    <div th:text="${proto}"></div>
                    <ul th:each="row:${all}">
                        <span th:text="${row.key}"></span><span> : </span><span th:text="${row.value}"></span>
                        <hr/>
                    </ul>         
                    </div>
                </div>
            </main>
        </div>
</body>
<script src="/js/app.js"></script>
</html>