<!DOCTYPE html>
<html lang="en xmlns=" http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"">

<head>
	<meta charset=" utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kitchen Bath Design">

<title>SJKB Design</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Libs CSS -->
<link rel="stylesheet" href="/assets/fonts/Feather/feather.css">
<link rel="stylesheet" href="/assets/libs/flickity/dist/flickity.min.css">
<link rel="stylesheet" href="/assets/libs/flickity-fade/flickity-fade.css">
<link rel="stylesheet" href="/assets/libs/aos/dist/aos.css">
<link rel="stylesheet" href="/assets/libs/jarallax/dist/jarallax.css">
<link rel="stylesheet" href="/assets/libs/highlightjs/styles/vs2015.css">
<link rel="stylesheet" href="/assets/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">

<!-- Theme CSS -->
<link rel="stylesheet" href="/assets/css/theme.min.css">
<link rel="stylesheet" href="/css/sjkbcss.css">
<script src="/js/jquery.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var token = "not";
    $(document).ready(function () {
        $("#pdf-wrapper").hide();
        $("#preview").hide();
        token = /*[[${token}]]*/ 'x';
        $.ajax({
            url: ("/portal/shared/" + token),
            type: "GET",
            success: function (data) {
                $("#files").prepend(data);
            }
        })
        /*]]>*/

    })

    function closePreview() {
        document.getElementById('iframe-pdf-shower').contentWindow.document.clear();
        $("#pdf-wrapper").hide();
        $("#preview").hide();
        $("#files").show();

    }
    function getBin(filename) {
        var m = Math.random();
        var d = "?token=" + token;
        var t = filename.split(".");
        $("#files").hide();

        $(".pdfitem").hide();
        $("#preview").show();
        $("#pdf-wrapper").show();
        if (t.length == 2) {
            if (t[1] === ('jpg')) {
                $("#object-jpg-shower").attr("src", "/portal/gettoken" + d + "&m=" + m);
                $("#object-jpg-shower").show();
            } else {
                $("#object-pdf-shower").attr("data", "/portal/gettoken" + d + "&m=" + m);
                $("#object-pdf-shower").show();
            }

        }
    }
    function download(loc) {
        window.location.href = loc;
    }

    function getFile(filename) {
        var d = '{"token": "' + token + '", "filename": "' + filename + '"}';
        $.ajax({
            data: d,
            url: ("/portal/getfile"),
            type: "POST",
            contentType: "application/json",
            success: function (data) {
                var filepath = $(data).find("#filepath");
                if (filepath.length != 0) {
                    var fpath = $(filepath).attr('data-path');
                    var dnld = $(filepath).data('download');
                    $("#dlbutton").attr("data-download", dnld);
                    if (fpath === "getBinFile") {
                        getBin(filename)
                    } else {
                        window.location.href = fpath;
                    }
                    return;
                }
                $("#files").hide();
                var doc = document.getElementById('iframe-pdf-shower').contentWindow.document;
                doc.open();
                doc.write(data);
                doc.close();
                $(doc).ready(function () {
                    var h = 1000;
                    console.log(h);
                    $("#pdf-wrapper").height(h);
                    $("#iframe-pdf-shower").height('100%');
                    $("#iframe-pdf-shower").show();
                });
                $("#preview").show();
                $("#pdf-wrapper").show();
                $("#object-pdf-shower").hide();

            }
        })
    }
</script>

<style>
    .hidden {
        display: none;
    }

    .sjimg {
        display: flexbox;
        transform: scale(3, 3);
    }

    .clickable {
        cursor: pointer;
    }

    .pdfitem {
        height: 1000px;
        width: 90%;
    }

    .pdfbox {
        display: grid;
        position: relative;
        content: center;

    }

    .pdfwrapper {
        display: block;
    }
</style>
</head>

<body class="bg-gray-300">
    <div class="wrapper">

        <div class="main">

            <main class="content">
                <div th:include="fragments/sidecar::portalnav" th:remove="tag"></div>
                <div class="container" style="margin-top: 135px">
                    <section class="position-relative pt-12  pt-md mt-n11">
                        <div class="row">
                            <h2> Welcome, <span th:text="${user}"></span></h2>
                    </section>
                </div>
                <section class="container">
                    <div style="margin-bottom: 10px">
                        <span th:text="${designer}">me</span><span> has shared these files with you:</span>
                    </div>
                    <div id="files" class="row">

                    </div>
                </section>
                <section id="preview" class="pdfbox">
                    <div>
                        <button class="btn btn-success btn-inline mr-3 ml-3" onclick="closePreview()" )>Close</button>
                        <button id="dlbutton" class="btn btn-info btn-inline" onclick="download(this.getAttribute('data-download'))">Download</button>
                    </div>
                    <div id="pdf-wrapper" style="margin: 20px">
                        <iframe class="pdfitem" id="iframe-pdf-shower" name="iframe-pdf-shower"></iframe>
                        <object class="pdfitem" id="object-pdf-shower" type="application/pdf"></object>
                        <img class="pdfitem" id="object-jpg-shower"></img>
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>
<script src="/js/app.js"></script>

</html>