<!DOCTYPE html>
<html lang="en xmlns=" http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"">

<head>
	<meta charset=" utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kitchen Bath Design">

<title>SJKB Design</title>

<link href="/css/classic.css" rel="stylesheet">
<link href="/css/sjkbcss.css" rel="stylesheet">
<link href="/css/jquery-ui.min.css" rel="stylesheet">

<script src="/js/sjkbjs.js"></script>

</head>

<body>

    <div class="wrapper">
        <div th:include="fragments/sidecar::sidenav" th:remove="tag"></div>
        <div class="main">

            <div th:include="fragments/sidecar::topnav" th:remove="tag"></div>
            <main class="content">
                <div class="folder-tab">
                    <h2 id="folderid" th:data-fid="${pandl.jobid}" th:text="${pandl.jobid}">title</h2>
                </div>
                <div class="card-deck folder">
                    <div th:include="fragments/cards::contactcard" class="col-md-4"></div>
                    <div class="col-md-12">
                        <div class="card mt-3">
                            <div class="card-header">
                                <h3>Financials</h3>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <h4>Income</h4>
                                    <thead class="thead-light">
                                        <th>Invoice Item</th><th>Gross</th><th>Tax Held</th><th>Net Income</th>
                                    </thead>
                                </table>
                                <hr/>
                                <table class="table">
                                    <h4 class="mt-3">Expense</h4>
                                    <thead class="thead-light">
                                        <th>Vendor</th><th>Gross</th><th>Tax Paid</th><th>Net Expense</th>
                                    </thead>
                                    <tbody>
                                        <tr th:each="exprow:${pandl.expenses}">
                                            <td th:text="${exprow.vendor}">acme abc</td>
                                            <td th:text="${exprow.gross}">1.00</td>
                                            <td th:text="${exprow.tax}">0.10</td>
                                            <td th:text="${exprow.net}">0.90</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
        <script src="/js/app.js"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
</body>


</html>