<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="catrow (row)">
    <td th:text="${row.flexEntity.name}">name</td>
    <tr role="row" th:each="catrow : ${row.allChildren}" th:data-depth="${catrow.depth}">
        <td th:replace="~{fragments/catalog::catrow(${catrow})}">
    </tr>
</div>
<div th:fragment="childrow" th:id="flexid">
    <div th:each="row: ${heritage.myself.allChildren}">
        <div th:id="'collapse'+${row.id}">
            <div class="selectable selectedChild ml-5" onclick="selectMe(this)" th:id="'flexid'+${row.id}" th:data-flexid="${row.id}"
                th:text="${row.flexEntity.name}">
            </div>
        </div>
    </div>
</div>
</html>