<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>sjkb frags</title>
</head>
<style>
    .sjimg {
        display: flexbox;
        transform: scale(3,3);
    }
</style>
<body>
    <div th:fragment="file" th:remove="tag">
        <div class="col-md-3" th:each="card:${files}" th:id="${card.filename}">
            <div class="card text-center card-border border-success clickable" th:data-file="${card.filename}" th:onclick="getFile(this.getAttribute('data-file'))">
                <div class="card-header">
                    <h3 class="d-inline" th:text="${card.filename}">name</h3>
                </div>
                <div class="card-body">
                    <img class="sjimg" src="/assets/img/icons/duotone-icons/Files/File.svg"></img>
                   <!-- <img class="sjimg" src="/web/src/main/resources/static/assets/img/icons/duotone-icons/Files/File.svg"></img> -->
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>

    <div th:fragment="pdf_viewer">
            <object data="http://yoursite.com/the.pdf" type="application/pdf" width="750px" height="750px">
    </div>

    <div th:fragment="redirect">
        <div id="filepath" th:data-path="${link}" th:data-download="${download}"></div>
    </div>
    <div th:fragment="linepreview" th:remove="tag">
        [(${preview})]
    </div>
</body>