<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidenav" th:remove="tag">
    <nav id="scar" class="sidebar sidebar-sticky d-flex">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand" href="/home.html">
                <i class="align-middle" data-feather="box"></i>
                <span class="align-middle">SJKB Design</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Tasks
                </li>
                <li class="sidebar-item">
                    <a href="/backstage/dashboard" class="sidebar-link">
                        <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                    </a>

                </li>
                <li class="sidebar-item"><a class="sidebar-link" href="/backstage/doquote.html">
                        <i class="align-middle" data-feather="paperclip"></i><span>Quick Quote</span></a></li>
                <li class="sidebar-item">
                    <a href="#pages" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="layout"></i> <span class="align-middle">Folders</span>
                    </a>
                    <ul id="pages" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item"><a class="sidebar-link"
                                href="/backstage/get/jobs/active.html">Active</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/get/jobs/lost.html">Lost</a>
                        </li>
                        <li class="sidebar-item"><a class="sidebar-link"
                                href="/backstage/get/jobs/closed.html">Complete</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/get/jobs/all.html">All</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-header">
                    Contacts
                </li>
                <li class="sidebar-item">
                    <a href="#people" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Users</span>
                    </a>
                    <ul id="people" class="sidebar-dropdown list-unstyled collapse ">

                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/user/getalluser">List</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/user/add">Add</a></li>

                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#salesrep" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Suppliers</span>

                    </a>
                    <ul id="salesrep" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/user/getallrep">List</a></li>
                    </ul>

                </li>
                <li class="sidebar-header">
                    Product
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link collapsed" href="#components" data-toggle="collapse">
                        <i class="align-middle" data-feather="paperclip"></i><span class="align-middle">Catalog</span>
                    </a>
                    <ul id="components" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/catalog/getall">List</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/catalog/addcat">Add
                                Category</a></li>
                        <li class="sidebar-item"><a class="sidebar-link" href="/backstage/catalog/additem">Add Item</a>
                        </li>
                    </ul>
                </li>

                <li sec:authorize="hasRole('ROLE_ADMIN')" class="sidebar-item">
                    <a href="#setup" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="setup"></i> <span class="align-middle">Admin</span>
                    </a>
                    <ul id="setup" class="sidebar-dropdown list-unstyled collapse show">
                        <li class="sidebar-item"><a class="sidebar-link" href="/admin/setup/dropbox">Dropbox</a></li>
                    </ul>
                    <ul id="setup" class="sidebar-dropdown list-unstyled collapse show">
                        <li class="sidebar-item"><a class="sidebar-link" href="/admin/setup/home">Homepage</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>
</div>

<div th:fragment="topnav" th:remove="tag">

    <nav class="navbar navbar-expand navbar-light bg-white">
        <a class="d-flex mr-2" data-toggle="collapse" data-target="#scar" onclick="$('#scar').toggleClass('toggled')">
            <i class="hamburger align-self-center"></i>
        </a>

        <form class="form-inline d-sm-inline-block">
            <input class="form-control form-control" type="text" placeholder="Search projects..."
                aria-label="Search"></input>
        </form>

        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle" href="#" id="messagesDropdown" data-toggle="dropdown">
                        <div class="position-relative">
                            <i class="align-middle" data-feather="message-circle"></i>
                            <span class="indicator">0</span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0"
                        aria-labelledby="messagesDropdown">
                        <div class="dropdown-menu-header">
                            <div class="position-relative">
                                0 New Messages
                            </div>
                        </div>
                        <div class="list-group">

                        </div>
                        <div class="dropdown-menu-footer">
                            <a href="#" class="text-muted">Show all messages</a>
                        </div>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-toggle="dropdown">
                        <i class="align-middle" data-feather="settings"></i>
                    </a>

                    <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                        <img src="/img/avatars/avatar.png" class="avatar img-fluid rounded-circle mr-1" />
                        <span class="text-dark" th:text="${user}">Shelly</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="user"></i>
                            Profile</a>
                        <a class="dropdown-item" href="#"><i class="align-middle mr-1" data-feather="pie-chart"></i>
                            Analytics</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Settings & Privacy</a>
                        <a class="dropdown-item" href="#">Help</a>
                        <a class="dropdown-item" href="/logout.html">Sign out</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

</div>



<div th:fragment="portalnav" th:remove="tag">

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <!-- Brand -->
            <a class="navbar-brand" href="/home.html">
                <span class="navbar-brand-img">
                    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150"
                        style="background-color: rgba(0, 0, 0, 0); background-position: initial initial; background-repeat: initial initial;">
                        <defs>
                            <linearGradient id="editing-outline-gradient" x1="-0.41354545764260087"
                                x2="1.4135454576426008" y1="0.09326335692419985" y2="0.9067366430758002">
                                <stop offset="0" stop-color="#ee4208"></stop>
                                <stop offset="1" stop-color="#4139ff"></stop>
                            </linearGradient>
                            <filter id="editing-outline" x="-100%" y="-100%" width="300%" height="300%">
                                <feMorphology in="SourceGraphic" operator="dilate" radius="2" result="outline">
                                </feMorphology>
                                <feComposite operator="out" in="outline" in2="SourceAlpha"></feComposite>
                            </filter>
                        </defs>
                        <text x="250" y="75" filter="url(#editing-outline)" fill="url(#editing-outline-gradient)"
                            style="font-size: 42px;">SJKB Design</text>
                    </svg>
                </span>
            </a>
            <a class="btn btn-default float-right" href="/logout.html">Sign out</a>
        </div>
    </nav>

</div>

</html>