<!DOCTYPE html>
<html lang="en xmlns=" http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"">

<head>
	<meta charset=" utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Kitchen Bath Design">

<title>SJKB Design</title>

<link href="/css/classic.css" rel="stylesheet">
<link href="/css/sjkbcss.css" rel="stylesheet">
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.js"></script>
<script>
    function selectMe(a) {
        event.stopPropagation();
        var name = $(a).text();
        var current = $(".selectedcat");
        $(".selectedcat").each(function (q) {
            if ($(this).attr("id") != $(a).attr("id")) {
                $(this).removeClass("selectedcat");
                $(this).parent().find("button").hide();
            }
            $(this).removeClass("selectedChild");
        });
        $(a).toggleClass('selectedcat');
        $(a).parent().find("button").show();
        $(a).removeClass('selectedChild');
        $(a).children().addClass('selectedChild');
        $("#cattitle").text("add Category to " + name);
        // keep the form parent object current with selection
        var parent = parseInt($(a).prop("id").replace("titleid", ""));
        if (isNaN(parent)) {
            parent = $(a).data("flexid");
        }
        if ($(a).hasClass('selectedcat') == false) {
            $(a).parent().find("button").hide();
            parent = 0;
        }
        $("#parent").val(parent);
        if ($(a).hasClass('selectedcat') == true)
            getChildren(parent);

    }

    function getChildren(id) {
        $.ajax({
            url: ("/backstage/catalog/getChildrenEditable/" + id),
            type: "GET",
            success: function (data) {
                var kids = $("#flexid" + id).children()
                if (kids.length == 0)
                    $("#flexid" + id).append(data);
            }
        });
    }

    function subform() {
        f = $("#newcatform");
        u = f.attr('action');
        $.ajax({
            type: "POST",
            url: u,
            data: f.serialize(),
            success: function (data) {
                var s = $(".selectedcat");
                if (s.length == 0) {
                    location.reload(true);
                } else {
                    sc = $(s).children();
                    if (sc.length > 0) {
                        $(sc).replaceWith(data);
                    } else {
                        var fid = '#' + $(s).data("flexid");
                        $(fid).replaceWith(data);
                    }


                }
            }
        })


    }
</script>

<style>
    .hidden {
        display: none;
    }

    label {
        margin: 8px;
    }

    tr:hover {
        cursor: pointer;
    }

    .selectable {
        cursor: pointer;
        padding: 3px;
    }

    .selectedcat {
        background-color: rgb(57, 64, 82);
        color: whitesmoke;
    }

    .selectedChild {
        background-color: white;
        color: rgb(57, 64, 82);
    }
</style>
</head>

<body>

    <div class="wrapper">
        <div th:include="fragments/sidecar::sidenav" th:remove="tag"></div>
        <div class="main">
            <div th:include="fragments/sidecar::topnav" th:remove="tag"></div>
            <main class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h5 id="cattitle">Add Category</h5>
                        </div>
                        <div class="card-body">
                            <form id="newcatform" class="form" th:action="@{/backstage/catalog/addcat}"
                                th:object="${cat}" method="post">
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="catname">Name</label>
                                        <input id="catname" type="text" class="form-control" placeholder=""
                                            th:field="*{name}"></input>
                                        <label for="catdesc">Description</label>
                                        <input id="catdesc" type="text" class="form-control" placeholder=""
                                            th:field="*{description}"></input>
                                        <input class="hidden" id="parent" type="text" th:field="*{parent}"></input>
                                    </div>
                                </div>
                                <div class="form-row">

                                    <div class="form-group col-md-3">
                                        <label for="low">Low</label>
                                        <input id="low" type="number" required value="0"class="form-control" placeholder=""
                                            th:field="*{low}"></input>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="high">High</label>
                                        <input id="high" type="number" required value="0"class="form-control" placeholder=""
                                            th:field="*{high}">
                                        </input>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="subform()">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div th:each="tree: ${trees}" class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5 th:text="${tree.name}" th:id="'titleid'+${tree.id}"
                                        th:data-flexid="|flexid${tree.id}|" onclick="selectMe(this)" class="selectable">
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <div th:id="'flexid'+${tree.id}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </main>
    </div>
    </div>
    <script src="/js/app.js"></script>
    <script>
        $(function () {
            $("#datatable").DataTable({
                responsive: true
            });
        });
    </script>
</body>

</html>